#withdrawIncentivePopUpBtn{
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
}

#withdrawIncentivePopUpBtn:hover{
    box-shadow: 0px 0px 10px gray;
}

.label {
    font-size: 40px;
    color: green;
}