.withdrawModalPopUp {
width: 350px;
margin-top: 0px;
background: white;
z-index: 10;
border-radius: 15px;
box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
padding:25px 40px;
/* display: flex;
flex-flow: column;
justify-content: center;
align-items: center; */
}

.centered {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.darkBG {
position: fixed;
background-color: rgba(0, 0, 0, 0.4);
width: 100vw;
height: 100vh;
z-index: 0;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow-y: hidden;
}
      

.poolsDropDown{
    width: 200px;
}

.withdrawIncentiveBtn{
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
}